body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-items: center;
}

.title{
    padding-top: 10px;
}

video{
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
}

img{
    width: 10%;
    height: 10%;
    position: absolute;
    top: -14%;
}

h1{
    position: absolute;
    top: 6%;
    left: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    text-align: left;
}

.ui_1{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.776);
    width: 30%;
    max-height: max-content;
    padding: 1%;
    border-radius: 15px;
    box-shadow: 1px 4px 27px 4px rgba(0,0,0,0.69);
    padding-top: 1px;
    top: 15%;
    left: 35%;
}

input{
    outline: none;
    border: 1px solid black;    
    border-radius: 5px;
    width: 95%;
    padding: 8px;
    font-size: larger;
}

input[type="radio"]{
    width: 5%;
}

label{
    font-size: larger;
    font-weight: bold;
}

input[type="file"]{
    border: none;
    padding-top: 0px;
}

input:focus{
    border: 1px solid black;
}

.clickers{
    padding-top: 3%;
    display: flex;
    gap: 30%;
    padding-left: 50px;
}

button{
    font-size: larger;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    font-weight: bold;
    padding: 8px;
}

button[type="submit"]{
    background-color: rgb(0, 183, 255);
}

button:hover{
    background-color: rgb(3, 133, 185);
}

button.tolist{
    background-color: rgb(75, 188, 75);
}

button.tolist:hover{
    background-color: rgb(51, 146, 51);
}

.dev{
    padding-top: 10px;
    text-align: center;
}

.setting{
    text-decoration: none;
}

.setting:hover{
    text-decoration: underline;
}

a{
    color: blue;
    margin: 0 5px;
}

img[src="icon/logout.png"]{
    position: absolute;
    top: 90%;
    left: 91%;
    width: 8%;
    height: 7%;
    cursor: pointer;
}
