body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-items: center;
}

.person{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 19%;
    left: 38%;
}

video{
    position: fixed;
    right: 0;
    top: 0;
}

.ui{
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px 8px black;
    padding-bottom: 20px;
    position: absolute;
    top: 28%;
    left: 38%;
}

.qr_generate{
    position: absolute;
    top: 5%;
    left: 38%;
}


.clickers{
    padding-top: 20px;
    text-align: center;
}

img{
    width: 15%;
    height: 15%;
    border-radius: 8px;
    align-items: center;
    padding-bottom: 2%;
}

h3{
    color: rgba(0, 0, 0, 0.793);
}

h1{
    text-align: center;
}

input{
    width: 450px;
    font-size: larger;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: 2px solid gray;
    background-color: rgba(255, 255, 255, 0.488);
    font-weight: 300;
}

input:focus{
    border: 2px solid rgb(23, 148, 197);
}

.showP{
    padding-top: 5px;
}

input[id="showPass"]{
    accent-color: green;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

label[for="showPass"]{
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.793);
}

input[type="submit"]{
    width: 300px;
    border-radius: 5px;
    background-color: rgb(23, 148, 197);
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    border: none;
    font-size: 25px;
}

input[type="submit"]:hover{
    background-color: rgba(23, 148, 197, 0.872);
}
